<div class="row">
    <div class="col-lg-12">
        <h3 align="center">Add firm</h3>
        <form name="addFirmForm" role="form" novalidate ng-submit="submit(addFirmForm)" class="sign-up-form">
            <div class="form-group">
                <label for="name">{{'ADD_FIRM_FORM_NAME' | translate}}</label>
                <input type="text" id="name" name="name" class="form-control" ng-model="model.name" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.name.$error" ng-if="addFirmForm.$submitted || !addFirmForm.name.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_NAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.name.$pristine">{{'ADD_FIRM_FORM_NAME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="address">{{'ADD_FIRM_FORM_ADDRESS' | translate}}</label>
                <input type="text" id="address" name="address" class="form-control" ng-model="model.address" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.address.$error" ng-if="addFirmForm.$submitted || !addFirmForm.address.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_ADDRESS_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.address.$pristine">{{'ADD_FIRM_FORM_ADDRESS_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="city">{{'ADD_FIRM_FORM_CITY' | translate}}</label>
                <input type="text" id="city" name="city" class="form-control" ng-model="model.city" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.city.$error" ng-if="addFirmForm.$submitted || !addFirmForm.city.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_CITY_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.city.$pristine">{{'ADD_FIRM_FORM_CITY_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="country">{{'ADD_FIRM_FORM_COUNTRY' | translate}}</label>
                <input type="text" id="country" name="country" class="form-control" ng-model="model.country" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.country.$error" ng-if="addFirmForm.$submitted || !addFirmForm.country.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_COUNTRY_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.country.$pristine">{{'ADD_FIRM_FORM_COUNTRY_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{'ADD_FIRM_FORM_EMAIL' | translate}}</label>
                <input type="text" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.email.$error" ng-if="addFirmForm.$submitted || !addFirmForm.email.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.email.$pristine">{{'ADD_FIRM_FORM_EMAIL_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="phone">{{'ADD_FIRM_FORM_PHONE' | translate}}</label>
                <input type="text" id="phone" name="phone" class="form-control" ng-model="model.phone" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.phone.$error" ng-if="addFirmForm.$submitted || !addFirmForm.phone.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_PHONE_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.phone.$pristine">{{'ADD_FIRM_FORM_PHONE_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="web">{{'ADD_FIRM_FORM_WEB' | translate}}</label>
                <input type="text" id="web" name="web" class="form-control" ng-model="model.web" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.web.$error" ng-if="addFirmForm.$submitted || !addFirmForm.web.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_WEB_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.web.$pristine">{{'ADD_FIRM_FORM_WEB_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="pib">{{'ADD_FIRM_FORM_PIB' | translate}}</label>
                <input type="text" id="pib" name="pib" class="form-control" ng-model="model.pib" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addFirmForm.pib.$error" ng-if="addFirmForm.$submitted || !addFirmForm.pib.$pristine">
                    <div ng-message="required">{{'ADD_FIRM_FORM_PIB_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addFirmForm.pib.$pristine">{{'ADD_FIRM_FORM_PIB_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'ADD_FIRM_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>