<div class="row">
    <div class="col-lg-12">
        <h3 align="center">Add User</h3>
        <form name="addUserForm" role="form" novalidate ng-submit="submit(addUserForm)" class="sign-up-form">
            <div class="form-group">
                <label for="firstName">{{'ADD_USER_FORM_FIRST_NAME' | translate}}</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="model.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addUserForm.firstName.$error" ng-if="addUserForm.$submitted || !addUserForm.firstName.$pristine">
                    <div ng-message="required">{{'ADD_USER_FORM_FIRST_NAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addUserForm.firstName.$pristine">{{'ADD_USER_FORM_FIRST_NAME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">{{'ADD_USER_FORM_LAST_NAME' | translate}}</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="model.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="addUserForm.lastName.$error" ng-if="addUserForm.$submitted || !addUserForm.lastName.$pristine">
                    <div ng-message="required">{{'ADD_USER_FORM_LAST_NAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addUserForm.lastName.$pristine">{{'ADD_USER_FORM_LAST_NAME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{'ADD_USER_FORM_EMAIL' | translate}}</label>
                <input type="email" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required />
                <div ng-messages="addUserForm.email.$error" ng-if="addUserForm.$submitted || !addUserForm.email.$pristine">
                    <div ng-message="required">{{'ADD_USER_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!addUserForm.email.$pristine">{{'ADD_USER_FORM_EMAIL_MAX' | translate:'{ max: 255 }'}}</div>
                    <div ng-message="pattern" ng-if="!addUserForm.email.$pristine">Email is incorrect!</div>

                </div>
            </div>
            <div class="form-group">
                <label for="idFirm">Choose a firm</label>
                 <select id="idFirm" name="idFirm" ng-model="model.idFirm" class="form-control" required>
                    <option value="" disabled="">Select firm</option>
                    <option ng-repeat="item in listOfFirms" value="{{item.id}}">
                        {{item.name}}</option>
                </select>
                <div ng-messages="addUserForm.idFirm.$error" ng-if="addUserForm.$submitted || !addUserForm.idFirm.$pristine">
                    <div ng-message="required">{{'ADD_USER_FORM_ID_FIRM_IS_REQUIRED' | translate}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'ADD_USER_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>