<div class="row">
    <div class="col-lg-12">
        <form name="changePasswordForm" role="form" novalidate ng-submit="submit(changePasswordForm)" class="sign-up-form">
            <div class="form-group">
                <label for="oldPassword">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD' | translate}}</label>
                <input type="password" id="oldPassword" name="oldPassword" class="form-control" ng-model="model.oldPassword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" required />
                <div ng-messages="changePasswordForm.oldPassword.$error" ng-if="changePasswordForm.$submitted || !changePasswordForm.oldPassword.$pristine">
                    <div ng-message="required">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!changePasswordForm.oldPassword.$pristine">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!changePasswordForm.oldPassword.$pristine">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
                    <div ng-message="pattern" ng-if="!changePasswordForm.oldPassword.$pristine">{{'CHANGE_PASSWORD_FORM_OLD_PASSWORD_PATTERN' | translate:'{ max: 32 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD' | translate}}</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="model.newPassword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" required />
                <div ng-messages="changePasswordForm.newPassword.$error" ng-if="changePasswordForm.$submitted || !changePasswordForm.newPassword.$pristine">
                    <div ng-message="required">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!changePasswordForm.newPassword.$pristine">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!changePasswordForm.newPassword.$pristine">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
                    <div ng-message="pattern" ng-if="!changePasswordForm.newPassword.$pristine">{{'CHANGE_PASSWORD_FORM_NEW_PASSWORD_PATTERN' | translate:'{ max: 32 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'CHANGE_PASSWORD_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>