<div class="row">
    <div class="col-lg-12">
        <form name="forgotPasswordForm" role="form" novalidate ng-submit="submit(forgotPasswordForm)" class="sign-up-form">
            <div class="form-group">
                <label for="email">{{'FORGOT_PASSWORD_FORM_EMAIL' | translate}}</label>
                <input type="text" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="128" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required />
                <div ng-messages="forgotPasswordForm.email.$error" ng-if="forgotPasswordForm.$submitted || !forgotPasswordForm.email.$pristine">
                    <div ng-message="required">{{'FORGOT_PASSWORD_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!forgotPasswordForm.email.$pristine">{{'FORGOT_PASSWORD_FORM_EMAIL_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!forgotPasswordForm.email.$pristine">{{'FORGOT_PASSWORD_FORM_EMAIL_MAX' | translate:'{ max: 128 }'}}</div>
                    <div ng-message="pattern" ng-if="!forgotPasswordForm.email.$pristine">{{'FORGOT_PASSWORD_FORM_EMAIL_PATTERN' | translate:'{ max: 128 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'FORGOT_PASSWORD_FORM_SUBMIT' | translate}}
            </button>
            <div class="href-links">
                <a href ng-click="onClickSignIn()">Sign in</a>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>