<div class="row">
    <div class="col-lg-12">
        <form name="resetPasswordForm" role="form" novalidate ng-submit="submit(resetPasswordForm)" class="sign-up-form">
            <div class="form-group">
                <label for="resetPasswordCode">{{'RESET_PASSWORD_FORM_RESET_PASSWORD_CODE' | translate}}</label>
                <input type="password" id="resetPasswordCode" name="resetPasswordCode" class="form-control" ng-model="model.resetPasswordCode" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="64" maxlength="64" required />
                <div ng-messages="resetPasswordForm.resetPasswordCode.$error" ng-if="resetPasswordForm.$submitted || !resetPasswordForm.resetPasswordCode.$pristine">
                    <div ng-message="required">{{'RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!resetPasswordForm.resetPasswordCode.$pristine">{{'RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_MIN' | translate:'{ min: 64 }'}}</div>
                    <div ng-message="maxlength" ng-if="!resetPasswordForm.resetPasswordCode.$pristine">{{'RESET_PASSWORD_FORM_RESET_PASSWORD_CODE_MAX' | translate:'{ max: 64 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="newPassword">{{'RESET_PASSWORD_FORM_NEW_PASSWORD' | translate}}</label>
                <input type="password" id="newPassword" name="newPassword" class="form-control" ng-model="model.newPassword" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" required />
                <div ng-messages="resetPasswordForm.newPassword.$error" ng-if="resetPasswordForm.$submitted || !resetPasswordForm.newPassword.$pristine">
                    <div ng-message="required">{{'RESET_PASSWORD_FORM_NEW_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!resetPasswordForm.newPassword.$pristine">{{'RESET_PASSWORD_FORM_NEW_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!resetPasswordForm.newPassword.$pristine">{{'RESET_PASSWORD_FORM_NEW_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
                    <div ng-message="pattern" ng-if="!resetPasswordForm.newPassword.$pristine">{{'RESET_PASSWORD_FORM_NEW_PASSWORD_PATTERN' | translate:'{ max: 32 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'RESET_PASSWORD_FORM_SUBMIT' | translate}}
            </button>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>