<div class="row">
    <div class="col-lg-12">
        <form name="signUpForm" role="form" novalidate ng-submit="submit(signUpForm)" class="sign-up-form">
            <div class="form-group">
                <label for="firstName">{{'SIGN_UP_FORM_FIRST_NAME' | translate}}</label>
                <input type="text" id="firstName" name="firstName" class="form-control" ng-model="model.firstName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="signUpForm.firstName.$error" ng-if="signUpForm.$submitted || !signUpForm.firstName.$pristine">
                    <div ng-message="required">{{'SIGN_UP_FORM_FIRST_NAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!signUpForm.firstName.$pristine">{{'SIGN_UP_FORM_FIRST_NAME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastName">{{'SIGN_UP_FORM_LAST_NAME' | translate}}</label>
                <input type="text" id="lastName" name="lastName" class="form-control" ng-model="model.lastName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                <div ng-messages="signUpForm.lastName.$error" ng-if="signUpForm.$submitted || !signUpForm.lastName.$pristine">
                    <div ng-message="required">{{'SIGN_UP_FORM_LAST_NAME_IS_REQUIRED' | translate}}</div>
                    <div ng-message="maxlength" ng-if="!signUpForm.lastName.$pristine">{{'SIGN_UP_FORM_LAST_NAME_MAX' | translate:'{ max: 255 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="email">{{'SIGN_UP_FORM_EMAIL' | translate}}</label>
                <input type="text" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="128" pattern="^([\w-]+(?:\.[\w-]+)*)@((?:[\w-]+\.)*\w[\w-]{0,66})\.([a-z]{2,6}(?:\.[a-z]{2})?)$" required />
                <div ng-messages="signUpForm.email.$error" ng-if="signUpForm.$submitted || !signUpForm.email.$pristine">
                    <div ng-message="required">{{'SIGN_UP_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!signUpForm.email.$pristine">{{'SIGN_UP_FORM_EMAIL_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!signUpForm.email.$pristine">{{'SIGN_UP_FORM_EMAIL_MAX' | translate:'{ max: 128 }'}}</div>
                    <div ng-message="pattern" ng-if="!signUpForm.email.$pristine">{{'SIGN_UP_FORM_EMAIL_PATTERN' | translate:'{ max: 128 }'}}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password">{{'SIGN_UP_FORM_PASSWORD' | translate}}</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="model.password" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$" required />
                <div ng-messages="signUpForm.password.$error" ng-if="signUpForm.$submitted || !signUpForm.password.$pristine">
                    <div ng-message="required">{{'SIGN_UP_FORM_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!signUpForm.password.$pristine">{{'SIGN_UP_FORM_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!signUpForm.password.$pristine">{{'SIGN_UP_FORM_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>
                    <div ng-message="pattern" ng-if="!signUpForm.password.$pristine">{{'SIGN_UP_FORM_PASSWORD_PATTERN' | translate:'{ max: 32 }'}}</div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'SIGN_UP_FORM_SUBMIT' | translate}}
            </button>
            <div class="href-links">
                <a href ng-click="onClickSignIn()">Sign in</a>
            </div>
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>