<div class="row">
    <div class="col-lg-12">
        <form name="signInForm" role="form" novalidate ng-submit="submit(signInForm)" class="sign-in-form">
            <img class="login-logo" src="app/img/logo/firm256.png">
            <div class="form-group">
                <label for="email">{{'SIGN_IN_FORM_EMAIL' | translate}}</label>
                <input type="text" id="email" name="email" class="form-control" ng-model="model.email" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }"  required />
                <div ng-messages="signInForm.email.$error" ng-if="signInForm.$submitted || !signInForm.email.$pristine">
                    <div ng-message="required">{{'SIGN_IN_FORM_EMAIL_IS_REQUIRED' | translate}}</div>
                    <!--<div ng-message="minlength" ng-if="!signInForm.email.$pristine">{{'SIGN_IN_FORM_EMAIL_MIN' | translate:'{ min: 6 }'}}</div>-->
                    <!--<div ng-message="maxlength" ng-if="!signInForm.email.$pristine">{{'SIGN_IN_FORM_EMAIL_MAX' | translate:'{ max: 128 }'}}</div>-->

                </div>
            </div>
            <div class="form-group">
                <label for="password">{{'SIGN_IN_FORM_PASSWORD' | translate}}</label>
                <input type="password" id="password" name="password" class="form-control" ng-model="model.password" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" minlength="6" maxlength="32" required />
                <div ng-messages="signInForm.password.$error" ng-if="signInForm.$submitted || !signInForm.password.$pristine">
                    <div ng-message="required">{{'SIGN_IN_FORM_PASSWORD_IS_REQUIRED' | translate}}</div>
                    <div ng-message="minlength" ng-if="!signInForm.password.$pristine">{{'SIGN_IN_FORM_PASSWORD_MIN' | translate:'{ min: 6 }'}}</div>
                    <div ng-message="maxlength" ng-if="!signInForm.password.$pristine">{{'SIGN_IN_FORM_PASSWORD_MAX' | translate:'{ max: 32 }'}}</div>

                </div>
            </div>
            <button type="submit" class="btn btn-primary">
                {{'SIGN_IN_FORM_SUBMIT' | translate}}
            </button>

            <!--<div class="href-links">-->
                <!--<a href ng-click="onClickForgotPassword()">{{'SIGN_IN_PAGE_FORGOT_PASSWORD' | translate}}</a>-->
                <!--<a href ng-click="onClickSignUp()">{{'SIGN_IN_PAGE_SIGN_UP' | translate}}</a>-->
            <!--</div>-->
        </form>
    </div>
</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>