//
// Global
// --------------------------------------------------

//.browsehappy {
//  margin: 0.2em 0;
//  background: #ccc;
//  color: #000;
//  padding: 0.2em 0;
//}
//
//.angular-google-map-container {
//  height: 300px;
//  width: 300px
//}
//
////
//// Vertical spacing for stacked elements
//// --------------------------------------------------
//
//.row + .row,
//.row [class*="col-"] + [class*="col-"] {
//  margin-top: 15px;
//}
//
//.row.row-dense,
//.row.col-dense [class*="col-"] + [class*="col-"]  {
//  margin-top: 0;
//}

@import "less/base-fonts";

// LAYOUT
// The layout directory contains styles that are large containers of a page. This directory could include LESS files like:
// Responsive Grid, Page specific layouts

@import "less/layout-grid";
@import "less/layout-login-page";
@import "less/layout-register-page";

// MODULES
// The modules directory will probably contain the bulk of your LESS files. A page may consist of multiple modules and should be styled individually.
// These modules may include files like:
// Header, Footer, Navigation, Content Block ...

@import "less/module-navigation";
@import "less/module-tables";
@import "less/module-buttons";
@import "less/tables";
@import "less/tabs";
@import "less/nested";
