@font-face {
  font-family: fontRegular;
  src: url(../app/fonts/SF-UI-Display-Regular.ttf);
}

@font-face {
  font-family: fontBold;
  src: url(../app/fonts/SF-UI-Display-Bold.ttf);
}

p,li,a,select,input,button,td {
	font-family: fontRegular, sans-serif; 
}

th,h1,h2,h3,h4,h5,h6 {
	font-family: fontBold, sans-serif;
}