@background-color: #f2f5f7;
@orange: #ff5621;
@red: #FF0000;
@white: #FFFFFF;
@black: #000000;

.sign-up-page {
  background: @background-color;
}

.sign-up-form {
  max-width: 500px;
  min-width: 300px;
  padding: 50px;
  margin: 50px auto;
  display: block;
  //background: @white;

  .form-group {
    max-width: 300px;
    margin: 0 auto;

    label {
      text-transform: uppercase;
      font-family: fontRegular, sans-serif;
      letter-spacing: 1px;
    }

    input {
      box-shadow: none;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      padding-left: 0;
      margin-bottom: 10px;
      font-family: fontRegular, sans-serif;
      color: firebrick;
      -webkit-text-fill-color: @black;
    }
    input:focus {
      border-bottom: 2px solid firebrick;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    input::-webkit-input-placeholder{
      text-shadow: none;
      -webkit-text-fill-color: initial;
    }

    .input-validation-tooltip {
      position: relative;
      display: block;
      width: 100%;
    }

    .input-validation-tooltip i {
      position: absolute;
      color: @red;
      top: 10px;
      right: 0;
      font-size: 1.2em;
      padding-right: 10px;
      z-index: 1;
    }
    .input-validation-tooltip i:hover {
      cursor: pointer;
    }
    .tooltip-message {
      position: absolute;
      top: -20px;
      right: 17px;
      z-index: 2;
      background: @red;
      color: @white;
      border: 1px solid @red;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 0.8em;
      display: none;
    }
    .input-validation-tooltip i:hover + .tooltip-message {
      display: inline-block;
    }
  }
  button,
  button:active:focus,
  button:focus {
    min-width: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 0;
    border: 1px solid firebrick;
    background-color: firebrick;
    color: @white;
    height: 50px;
    outline: none;
  }
  button:hover,
  button:active {
    outline: none;
    border: 2px solid firebrick;
    background-color: @white;
    color: firebrick;
  }
  .register-logo {
    margin: 0 auto 50px auto;
    display: block;
    width: 420px;
    height: 280px;
  }
}

.my-form{
  width: 100%;
//  min-width: 100%;
  padding: 20px;
  margin: 10px auto;
  display: block;
  //background: @white;

  .form-group {
    max-width: 100%;
    margin: 0 auto;

    label {
      text-transform: uppercase;
      font-family: fontRegular, sans-serif;
      letter-spacing: 1px;
    }

    input {
      box-shadow: none;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      padding-left: 10;
      margin-bottom: 10px;
      font-family: fontRegular, sans-serif;
      color: cadetblue;
      -webkit-text-fill-color: @black;
    }
    input:focus {
      border-bottom: 2px solid cadetblue;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    input::-webkit-input-placeholder{
      text-shadow: none;
      -webkit-text-fill-color: initial;
    }

    .input-validation-tooltip {
      position: relative;
      display: block;
      width: 100%;
    }

    .input-validation-tooltip i {
      position: absolute;
      color: @red;
      top: 10px;
      right: 0;
      font-size: 1.2em;
      padding-right: 10px;
      z-index: 1;
    }
    .input-validation-tooltip i:hover {
      cursor: pointer;
    }
    .tooltip-message {
      position: absolute;
      top: -20px;
      right: 17px;
      z-index: 2;
      background: @red;
      color: @white;
      border: 1px solid @red;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 0.8em;
      display: none;
    }
    .input-validation-tooltip i:hover + .tooltip-message {
      display: inline-block;
    }
  }
  button,
  button:active:focus,
  button:focus {
    min-width: 100px;
    margin: 20px ;
    //display: block;
    border-radius: 0;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    color: @white;
    height: 30px;
    outline: none;
  }
  button:hover,
  button:active {
    outline: none;
    border: 2px solid cadetblue;
    background-color: @white;
    color: cadetblue;
  }
  .register-logo {
    margin: 0 auto 50px auto;
    display: block;
    width: 420px;
    height: 280px;
  }
}


.my-button{
  button,
  button:active:focus,
  button:focus {
    min-width: 100px;
    margin: 20px ;
    //display: block;
    border-radius: 0;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    color: @white;
    height: 30px;
    outline: none;
  }
  button:hover,
  button:active {
    outline: none;
    border: 2px solid cadetblue;
    background-color: @white;
    color: cadetblue;
  }
}

