@background-color: #f2f5f7;
@orange: #ff5621;
@red: #FF0000;
@white: #FFFFFF;
@black: #000000;

.sign-in-page {
  background: @background-color;
}


.sign-in-form,
.view-profile-form,
.forgot-password-form{
  max-width: 500px;
  min-width: 300px;
  max-height: 1000px;
  //height: 55vh;
  margin: 20vh auto 25vh auto;
  display: block;
  background: @white;
  padding: 50px;

  .form-group {
    max-width: 300px;
    margin: 0 auto;

    label {
       text-transform: uppercase;
       font-family: fontRegular, sans-serif;
       letter-spacing: 1px;
    }

    input {
      box-shadow: none;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-radius: 0;
      padding-left: 0;
      margin-bottom: 10px;
      font-family: fontRegular, sans-serif;
      color: cadetblue;
      -webkit-text-fill-color: @black;
    }
    input:focus {
      border-bottom: 2px solid cadetblue;
    }
    input:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 1000px white inset;
    }
    input::-webkit-input-placeholder{
      text-shadow: none;
      -webkit-text-fill-color: initial;
    }

    .input-validation-tooltip {
      position: relative;
      display: block;
      width: 100%;
    }

    .input-validation-tooltip i {
      position: absolute;
      color: @red;
      top: 10px;
      right: 0;
      font-size: 1.2em;
      padding-right: 10px;
      z-index: 1;
    }
    .input-validation-tooltip i:hover {
      cursor: pointer;
    }
    .tooltip-message {
      position: absolute;
      top: -20px;
      right: 17px;
      z-index: 2;
      background: @red;
      color: @white;
      border: 1px solid @red;
      padding: 5px 15px;
      border-radius: 5px;
      font-size: 0.8em;
      display: none;
    }
    .input-validation-tooltip i:hover + .tooltip-message {
      display: inline-block;
    }
  }
  button,
  button:active:focus,
  button:focus {
    min-width: 300px;
    margin: 20px auto;
    display: block;
    border-radius: 0;
    border: 1px solid cadetblue;
    background-color: cadetblue;
    color: @white;
    height: 50px;
    outline: none;
  }
  button:hover,
  button:active {
    outline: none;
    border: 2px solid cadetblue;
    background-color: @white;
    color: cadetblue;
  }
  .login-logo {
    margin: 0 auto 0px auto;
    display: block;
    width: 256px;
    height: 256px;
  }

  .profile-logo {
    margin: 0 auto 50px auto;
    display: block;
    width: 150px;
    height: 150px;
  }
}

.href-links {
  margin: 0 auto;
  display: block;
  text-align: center;
}



