@ui-background: #f2f5f7;

.container {
    width: 100% !important;
    display: block;
    margin:0;
	padding:0;
	//overflow: hidden;
}

.row,
.col-lg-12 {
	margin: 0;
	padding: 0;
}

.wrapper {
	display: flex;
    float: left;
    width: 100%;
}

ui-view {
	width: 100%;
	flex-grow: 100;
	display: inline-block;
	vertical-align: top;
	background: @ui-background;
	height: 100vh;
	overflow: scroll;
}

.table-responsive {
	width: 100%;
}

#map {
	height: 400px;
	width: 100%;
}
