.custom-map-dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 3000;

  > div {
    margin-top: 17vh;
    width: 50vw;
    margin-left: 25vw;
    border: 10px solid white;
    border-top: 50px solid white;
    border-radius: 1%;
  }

  > img {
    position: absolute;
    top: 18.5%;
    left: 72.5vw;
    cursor: pointer;
    height: 25px;
  }
}