@dark-blue: #0f1119;
@orange: #ff5621;
@grey: #636469;
@white: #FFFFFF;

.navigation {
  background-color: @dark-blue;
  width: 230px;
  height: 100vh;
  display: inline-block;

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0 0 0 20px;
    height: 79vh;
  }

  ul li a {
    height: 40px;
    line-height: 40px;
    text-decoration: none;
    color: @white;
    outline: none;
    cursor: pointer;
  }

  ul li a p {
    display: inline-block;
    margin: 0;
  }

  ul li img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 5px;
  }
}

.navigation-toggle {
  position: relative;

  img {
    display: inline-block;
    cursor: pointer;
  }

  .navigation-logo {
    padding: 23px 0 40px 60px;
  }

  .collapse-menu {
    height: 25px;
    margin-left: 30px;
    cursor: pointer;
    margin-top: -20px;
  }
}

.log-out {
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: @white;
  outline: none;
  padding: 0 0 0 20px;

  img {
    height: 30px;
    vertical-align: middle;
    margin-right: 10px;
    margin-left: 5px;
  }

  p {
    display: inline-block;
  }
}

.log-out:hover {
  cursor: pointer;
}

// MENU IS COLLAPSED 

.active {
  width: 80px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;

  ul {
    height: 79vh;
  }

  ul li a p {
    display: none;
  }

  .log-out p {
    display: none;
  }

  .navigation-toggle {

    .navigation-logo {
      height: 45px;
      margin: 24px 20px 40px 20px;
      padding: 0;
    }

    span {
      background-color: @dark-blue;
      height: 30px;
      width: 50px;
      position: absolute;
      right: -30px;
      top: 28px;
      z-index: 9999;
    }

    span img {
      -ms-transform: rotate(180deg); /* IE 9 */
      -webkit-transform: rotate(180deg); /* Chrome, Safari, Opera */
      transform: rotate(180deg);
      height: 20px;
      margin-top: 5px;
    }

  }
}

.active-menu-item {
  color: cadetblue;
}

.sweet-alert button {
  border-radius: 0;
}

.my-toolbar{
  background-color: cadetblue !important;
}