@border-light-grey: #dfe2e4;
@placeholder-grey: #abbac5;
@white: #FFFFFF;

.border-table-headline {
  border-bottom: 2px solid @border-light-grey;
}

.border-table-data {
  border-bottom: 1px solid @border-light-grey;
}

.table-header {
  display: block;
  padding: 30px 50px;
}

table {
  border: 0 !important;

  thead tr {
    .border-table-headline !important;
    background: transparent !important;

  }

  tbody tr {
    .border-table-data !important;
    background: transparent !important;
    cursor: pointer;
    outline: none;
  }

  tbody tr:hover {
    background-color: white !important;
  }

  th, td {
    border: 0 !important;
    height: 50px;
    vertical-align: middle !important;
  }

  th:first-of-type,
  td:first-of-type {
    padding-left: 50px !important;
  }

  th:last-of-type,
  td:last-of-type {
    padding-right: 50px !important;
  }

  .active-row {
    background-color: @white !important;
  }
}

.table-controls {
  float: right;

  p, img, select, li, ul, input, button {
    display: inline-block;
  }

  p {
    margin-right: 10px;
    margin-left: 10px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    vertical-align: middle;
  }

  li {
    background: white;
    border: 1px solid @border-light-grey;
    border-radius: 3px;
    float: left;
    height: 40px;
    width: 50px;
    margin-left: -2px;
  }

  li:hover {
    cursor: pointer;
  }

  img {
    width: 30px;
    height: 30px;
    display: block;
    margin: 5px auto;
  }

  select {
    padding-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: white;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
    outline: none;
    height: 40px;
    font-size: 1em;
    color: black;
    width: 150px;
    border: 1px solid @border-light-grey;
  }

  span::after {
    content: "";

    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid @placeholder-grey;

    width: 0;
    height: 0;
    color: #212121;
    display: inline-block;
    position: relative;
    right: 30px;
    top: 0;
    z-index: 1500;
    pointer-events: none;
  }

  input {
    background-color: white;
    border-radius: 3px;
    width: 240px;
    border: 1px solid @border-light-grey;
    height: 40px;
    padding: 0 10px;
    outline: none;
    margin-left: 10px;
  }

  button {
    background-color: white;
    border-radius-top-right: 3px;
    border-radius-bottom-right: 3px;
    width: 40px;
    border: 1px solid @border-light-grey !important;
    border-left: 0 !important;
    height: 40px;
    padding: 0 10px;
    outline: none;
    margin-left: -10px;
    vertical-align: middle;
    margin-top: -2px;
  }

  button img {
    height: 20px;
    width: 20px;
  }

}
.pagination {
  float: right;
  position: fixed;
  right: 50px;
  bottom: 0;
}
.pagination > li > a,
.pagination > li > span {
  color: @orange;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: @orange;
}

.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  background-color: @orange;
  border-color: @orange;
}
