.table-wrapper {
  display: flex;
  float: left;
  width: 100%;
}

.table-left {
  flex-grow: 100;
  padding: 20px 35px;
}

.list-headline {
  font-size: 18px;
  display: inline-block;
  line-height: 35px;
}

.user-active {
  display: inline-block !important;
}

.sortorder:after {
  content: '\25b2';   // BLACK UP-POINTING TRIANGLE
}
.sortorder.reverse:after {
  content: '\25bc';   // BLACK DOWN-POINTING TRIANGLE
}

list-of-all-orders-table {
  height: ~"calc(100vh - 30px) !important";
  padding: 20px 35px;
  display: block;
}



.png-icon{
  margin: 5px auto auto;
  padding: 0;
  display: inline-block;
  background-repeat: no-repeat no-repeat;
  pointer-events: none;
}

.md-button {
  min-width: 1%;
  min-height: 1%;
}

.selected{
  background-color: white !important;

}

// Table styles

table {
  margin-top: 35px;

  * {
    background: transparent;
    border: 0;
    font-size: 14px;
  }

  thead tr {
    border-bottom: 2px solid @border-light-grey;
  }

  tbody tr {
    border-bottom: 1px solid @border-light-grey;
    cursor: pointer;

    &:hover {
      background-color: white;
    }

  }

  th, td {
    height: 40px;
    vertical-align: middle !important;

    img {
      height: 25px;
    }
  }

  .active-row {
    background-color: @white;
  }
}

// Search , country , select menu | table controls

.table-controls {
  float: right;

  * {
    display: inline-block;
    font-size: 14px;
  }

  ul {
    vertical-align: middle;
    margin: 0 10px;

    li {
      background: white;
      border: 1px solid @border-light-grey;
      border-radius: 3px;
      float: left;
      height: 35px;
      width: 40px;
      margin-left: -2px;
      cursor: pointer;

      img {
        width: 25px;
        height: 25px;
        display: block;
        margin: 4px auto;
      }
    }
  }

  span {

    select {
      padding-left: 10px;
      -webkit-appearance: none;
      -moz-appearance: none;
      background-color: white;
      border-radius: 3px;
      position: relative;
      cursor: pointer;
      height: 35px;
      width: 150px;
      border: 1px solid @border-light-grey;
      margin: 0 0 0 10px;
    }

    &:after {
      content: "";
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid @placeholder-grey;
      width: 0;
      height: 0;
      color: #212121;
      display: inline-block;
      position: relative;
      right: 35px;
      top: 0;
      z-index: 1500;
      pointer-events: none;
    }
  }

  input {
    background-color: white;
    border-radius: 3px;
    width: 200px;
    border: 1px solid @border-light-grey;
    height: 35px;
    padding: 0 10px;
    outline: none;
  }

  button {
    background-color: white;
    width: 35px;
    border: 1px solid @border-light-grey;
    border-left: 0;
    height: 35px;
    padding: 0 10px;
    margin-left: -10px;
    vertical-align: middle;
    margin-top: -1px;

    img {
      height: 20px;
      width: 20px;
    }
  }




}

