<md-toolbar layout="row" layout-align="space-between center" class="my-toolbar">
    <!--The left side-->
    <span>
        <md-button ng-click="searchState()">
            <img class="png-icon" src="app/img/toolbar/search.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="refresh()">
            <img class="png-icon" src="app/img/toolbar/refresh.png" style="width: 24px; height: 24px;">
        </md-button>
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/back.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/help.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="firstRow()">
            <img class="png-icon" src="app/img/toolbar/firstRow.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="previousRow()">
            <img class="png-icon" src="app/img/toolbar/previous.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextRow()">
            <img class="png-icon" src="app/img/toolbar/next.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="lastRow()">
            <img class="png-icon" src="app/img/toolbar/lastRow.png" style="width: 24px; height: 24px;">
        </md-button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="addState()">
            <img class="png-icon" src="app/img/toolbar/add.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="editState()">
            <img class="png-icon" src="app/img/toolbar/edit.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button  ng-click="deleteSelectedItem()">
            <img class="png-icon" src="app/img/toolbar/trash.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextState()">
            <img class="png-icon" src="app/img/toolbar/nextForm.png" style="width: 24px; height: 24px;">
        </md-button>


    </span>
    <span>
        <label layout-margin="10px">
            State : {{state}}
        </label>
    </span>

</md-toolbar>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <!--<th>{{'LIST_OF_ALL_UNIT_OF_MEASURES_ID' | translate}}</th>-->
                        <th>{{'LIST_OF_ALL_UNIT_OF_MEASURES_NAME' | translate}}</th>
                        <th>{{'LIST_OF_ALL_UNIT_OF_MEASURES_SHORT_NAME' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <!--<td>{{item.id}}</td>-->
                        <td>{{item.name}}</td>
                        <td>{{item.shortName}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

<div class="my-form">
    <div >
        <label>Name</label>
        <input type="text"   placeholder="Name" ng-model="selectedModel.name" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Short name</label>
        <input type="text"   placeholder="Short name" ng-model="selectedModel.shortName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

    </div>
    <span>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button type="submit" class="btn btn-danger" ng-click="rollBack()">RollBack</button>
    </span>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>