<md-toolbar layout="row" layout-align="space-between center" class="my-toolbar" >
    <!--The left side-->
    <span>
        <md-button ng-click="searchState()">
            <img class="png-icon" src="app/img/toolbar/search.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-disabled="true" ng-click="refresh()">
            <img class="png-icon" src="app/img/toolbar/refresh.png" style="width: 24px; height: 24px;">
        </md-button>
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/back.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/help.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="firstRow()">
            <img class="png-icon" src="app/img/toolbar/firstRow.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="previousRow()">
            <img class="png-icon" src="app/img/toolbar/previous.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextRow()">
            <img class="png-icon" src="app/img/toolbar/next.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="lastRow()">
            <img class="png-icon" src="app/img/toolbar/lastRow.png" style="width: 24px; height: 24px;">
        </md-button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="addState()">
            <img class="png-icon" src="app/img/toolbar/add.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="editState()">
            <img class="png-icon" src="app/img/toolbar/editDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="ture" ng-click="deleteSelectedItem()">
            <img class="png-icon" src="app/img/toolbar/trashDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="nextState()">
            <img class="png-icon" src="app/img/toolbar/nextFormDisable.png" style="width: 24px; height: 24px;">
        </md-button>


    </span>
    <span>
        <label layout-margin="10px">
            State : {{state}}
        </label>
    </span>

</md-toolbar>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Redni broj</th>
                        <th>Naziv</th>
                        <th>Kolicina</th>
                        <th>Jedicna cena</th>
                        <th>Jedinica mere</th>
                        <th>Procenat rabata</th>
                        <th>Iznos rabata</th>
                        <th>Umanjeno za rabata</th>
                        <th>Ukupan porez</th>
                        <th>Vrednost</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <td>{{item.redniBroj}}</td>
                        <td>{{item.nazivRobeIliUsluge}}</td>
                        <td>{{item.kolicina}}</td>
                        <td>{{item.jedinicnaCena}}</td>
                        <td>{{item.jedinicaMere}}</td>
                        <td>{{item.procenatRabata}}</td>
                        <td>{{item.iznosRabata}}</td>
                        <td>{{item.umanjenoZaRabat}}</td>
                        <td>{{item.ukupanPorez}}</td>
                        <td>{{item.vrednost}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<div class="my-form" >
    <div>

        <label>Naziv: </label> <input type="text"   placeholder="Naziv" ng-model="selectedModel.nazivRobeIliUsluge" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Kolicina: </label> <input type="number"   placeholder="Kolicina" ng-model="selectedModel.kolicina" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Jedinicna cena: </label> <input  type="number"   placeholder="Jedinicna cena" ng-model="selectedModel.jedinicnaCena" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <div>
        <label>Jedinica mere: </label> <input  type="text"   placeholder="Jedinica mere" ng-model="selectedModel.jedinicaMere" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Procenat rabata: </label> <input type="number"   placeholder="Procenat rabata" ng-model="selectedModel.procenatRabata" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Iznost rabata: </label><input ng-disabled="true" type="number"   placeholder="Iznos rabata" ng-model="selectedModel.iznosRabata" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>

    <div>
        <label>Umanjeno za rabat: </label><input ng-disabled="true" type="number"   placeholder="Umanjeno za rabat" ng-model="selectedModel.umanjenoZaRabat" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Ukupan porez: </label> <input ng-disabled="true" type="number"   placeholder="Ukupan porez" ng-model="selectedModel.ukupanPorez" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label>Vrednost: </label><input ng-disabled="true" type="number"   placeholder="Vrednost" ng-model="selectedModel.vrednost" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

    </div>
    <div>
        <!--<button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>-->
        <!--<button type="submit" class="btn btn-danger" ng-click="rollBack()">RollBack</button>-->
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>