<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <h3 align="center">Users</h3>
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>{{'LIST_OF_ALL_USERS_FIRST_NAME' | translate}}</th>
                        <th>{{'LIST_OF_ALL_USERS_LAST_NAME' | translate}}</th>
                        <!--<th>{{'LIST_OF_ALL_USERS_FIRM_ID' | translate}}</th>-->
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model">
                        <td>{{item.firstName}}</td>
                        <td>{{item.lastName}}</td>
                        <!--<td>{{item.firmId}}</td>-->
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>