<md-toolbar layout="row" layout-align="space-between center" class="my-toolbar" >
    <!--The left side-->
    <span>
        <md-button ng-click="searchState()">
            <img class="png-icon" src="app/img/toolbar/search.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="refresh()">
            <img class="png-icon" src="app/img/toolbar/refresh.png" style="width: 24px; height: 24px;">
        </md-button>
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/back.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/help.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="firstRow()">
            <img class="png-icon" src="app/img/toolbar/firstRow.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="previousRow()">
            <img class="png-icon" src="app/img/toolbar/previous.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextRow()">
            <img class="png-icon" src="app/img/toolbar/next.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="lastRow()">
            <img class="png-icon" src="app/img/toolbar/lastRow.png" style="width: 24px; height: 24px;">
        </md-button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="addState()">
            <img class="png-icon" src="app/img/toolbar/add.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="editState()">
            <img class="png-icon" src="app/img/toolbar/edit.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="deleteSelectedItem()">
            <img class="png-icon" src="app/img/toolbar/trash.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextState()">
            <img class="png-icon" src="app/img/toolbar/nextForm.png" style="width: 24px; height: 24px;">
        </md-button>


    </span>
    <span>
        <label layout-margin="10px">
            State : {{state}}
        </label>
    </span>

</md-toolbar>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Naziv dobavljaca</th>
                        <th>Adresa dobavljaca</th>
                        <th>Pib dobavljaca</th>
                        <th>Naziv kupca</th>
                        <th>Adresa kupca</th>
                        <th>Pib kupca</th>
                        <th>Broj racuna</th>
                        <th>Vrednost robe</th>
                        <th>Ukupno robe i usluga</th>
                        <th>Ukupno rabata</th>
                        <th>Ukupan porez</th>
                        <th>Oznaka valute</th>
                        <th>Iznos za uplatu</th>
                        <th>Uplata na racun</th>
                        <th>Datum racuna</th>
                        <th>Datum valute</th>
                        <th>Posalji</th>

                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <td>{{item.zaglavljeFakture.nazivDobavljaca}}</td>
                        <td>{{item.zaglavljeFakture.adresaDobavljaca}}</td>
                        <td>{{item.zaglavljeFakture.pibDobavljaca}}</td>
                        <td>{{item.zaglavljeFakture.nazivKupca}}</td>
                        <td>{{item.zaglavljeFakture.adresaKupca}}</td>
                        <td>{{item.zaglavljeFakture.pibKupca}}</td>
                        <td>{{item.zaglavljeFakture.brojRacuna}}</td>
                        <td>{{item.zaglavljeFakture.vrednostRobe}}</td>
                        <td>{{item.zaglavljeFakture.upunoRobeIUsluga}}</td>
                        <td>{{item.zaglavljeFakture.ukupanRabat}}</td>
                        <td>{{item.zaglavljeFakture.ukupanPorez}}</td>
                        <td>{{item.zaglavljeFakture.oznakaValute}}</td>
                        <td>{{item.zaglavljeFakture.iznosZaUplatu}}</td>
                        <td>{{item.zaglavljeFakture.uplataNaRacun}}</td>
                        <td>{{item.zaglavljeFakture.datumRacuna | date:'yyyy-MM-dd'}}</td>
                        <td>{{item.zaglavljeFakture.datumValute | date:'yyyy-MM-dd'}}</td>

                        <td>
                            <div ng-show="item.poslata==false" class="my-button">
                                <a  ng-click="posaljiFakturu(item)" style="cursor: pointer"><img class="png-icon" src="app/img/tables/bookDocument.png" style="width: 24px; height: 24px; color: firebrick !important;"; ></a>
                            </div>
                        </td>



                    </tr>


                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>
<div class="my-form" >
    <div>
        <span><label>Naziv dobavljaca: {{nazivDobavljaca}}</label></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Adresa dobavljaca: {{adresaDobavljaca}}</label></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Pib dobavljaca: {{pibDobavljaca}}</label></span>
    </div>
    <br>
    <div>
        Kupac: <select id="kupac" name="kupac" ng-model="selectedModel.pibKupca"
                              ng-options="obj.pib as obj.naziv for obj in modelOstaleFirme"
                                ng-change="kupacChange()">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Adresa kupca: {{selectedModel.adresaKupca}}</label></span>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Pib kupca: {{selectedModel.pibKupca}}</label></span>
    </div>
    <br>
    <div>
        <span><label>Broj racuna: </label></span>
        <input type="number"   placeholder="Broj racuna" ng-model="selectedModel.brojRacuna" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Uplata na racun: </label></span>
        <select id="racuni" name="racuni" ng-model="selectedModel.uplataNaRacun"
                              ng-options="obj.brojRacuna for obj in listaRacuna">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span><label>Valuta: </label></span>
        <input type="text"   placeholder="Valuta" ng-model="selectedModel.oznakaValute" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

    </div>
    <br>
    <div>

        <span >Datum racuna:</span> <input type="date"   placeholder="Datum racuna" ng-model="selectedModel.datumRacuna" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span >Datum valute:</span> <input type="date"   placeholder="Datum valute" ng-model="selectedModel.datumValute" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

    </div>

    <div>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button type="submit" class="btn btn-danger" ng-click="rollBack()">RollBack</button>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>