
<md-toolbar layout="row" layout-align="space-between center" class="my-toolbar" >
    <!--The left side-->
    <span>
        <md-button ng-click="searchState()">
            <img class="png-icon" src="app/img/toolbar/search.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="refresh()">
            <img class="png-icon" src="app/img/toolbar/refresh.png" style="width: 24px; height: 24px;">
        </md-button>
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/back.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/help.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button ng-click="firstRow()">
            <img class="png-icon" src="app/img/toolbar/firstRow.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="previousRow()">
            <img class="png-icon" src="app/img/toolbar/previous.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextRow()">
            <img class="png-icon" src="app/img/toolbar/next.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="lastRow()">
            <img class="png-icon" src="app/img/toolbar/lastRow.png" style="width: 24px; height: 24px;">
        </md-button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button disabled="true" ng-click="addState()">
            <img class="png-icon" src="app/img/toolbar/addDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true"  ng-click="editState()">
            <img class="png-icon" src="app/img/toolbar/editDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button  disabled="true">
            <img class="png-icon" src="app/img/toolbar/trashDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button ng-click="nextState()">
            <img class="png-icon" src="app/img/toolbar/nextForm.png" style="width: 24px; height: 24px;">
        </md-button>


    </span>
    <span>
        <label layout-margin="10px">
            State : {{state}}
        </label>
    </span>

</md-toolbar>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <!--<th>{{'LIST_OF_ALL_WAREHOUSES_CARD_ID' | translate}}</th>-->
                        <!--<th>{{'LIST_OF_ALL_WAREHOUSES_CARD_BUSINESS_YEAR_ID' | translate}}</th>-->
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_BUSINESS_YEAR_YEAR' | translate}}</th>
                        <!--<th>{{'LIST_OF_ALL_WAREHOUSES_CARD_ARTICLE_ID' | translate}}</th>-->
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_ARTICLE_NAME' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_ARTICLE_CODE' | translate}}</th>
                        <th>Start state</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_INPUT' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_OUTPUT' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_BALANCE' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_AVERAGE_PRICE' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_IN_VALUE' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_OUT_VALUE' | translate}}</th>
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_TOTAL_VALUE' | translate}}</th>
                        <!--<th>{{'LIST_OF_ALL_WAREHOUSES_CARD_WAREHOUSE_ID' | translate}}</th>-->
                        <th>{{'LIST_OF_ALL_WAREHOUSES_CARD_WAREHOUSE_NAME' | translate}}</th>
                        <th>View pdf</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <!--<td>{{item.id}}</td>-->
                        <!--<td>{{item.businessYearId}}</td>-->
                        <td>{{item.businessYearYear}}</td>
                        <!--<td>{{item.articleId}}</td>-->
                        <td>{{item.articleName}}</td>
                        <td>{{item.articleCode}}</td>
                        <td>{{item.startState}}</td>
                        <td>{{item.input}}</td>
                        <td>{{item.output}}</td>
                        <td>{{item.balance}}</td>
                        <td>{{item.averagePrice}}</td>
                        <td>{{item.inValue}}</td>
                        <td>{{item.outValue}}</td>
                        <td>{{item.totalValue}}</td>
                        <!--<td>{{item.warehouseId}}</td>-->
                        <td>{{item.warehouseName}}</td>
                        <td>
                            <div class="my-button">
                                <a ng-click="warehouseCardPdf(item)"  style="cursor: pointer"><img class="png-icon" src="app/img/tables/pdfView.png" style="width: 24px; height: 24px; color: firebrick !important;"; ></a>
                            </div>
                        </td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

<div class="my-form" >
    <div>
        Business year: <input type="text"   placeholder="Business year" ng-model="selectedModel.businessYear" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        <a  ng-click="onClickLoadYear()" style="cursor: pointer"><img class="png-icon" src="app/img/toolbar/formSearch.png" style="width: 24px; height: 24px; color: firebrick !important;"; ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Article name: <input type="text"   placeholder="Article name" ng-model="selectedModel.articleName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        <a ng-click="onClickLoadArticle()" style="cursor: pointer"><img class="png-icon" src="app/img/toolbar/formSearch.png" style="width: 24px; height: 24px; color: firebrick !important;"; ></a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        Article code: <input type="text"   placeholder="Article code" ng-model="selectedModel.articleCode" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Warehouse name: <input type="text"   placeholder="Warehouse name" ng-model="selectedModel.warehouseName" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        <a ng-click="onClickLoadWarehouse()" style="cursor: pointer"><img class="png-icon" src="app/img/toolbar/formSearch.png" style="width: 24px; height: 24px; color: firebrick !important;"; ></a>
    </div>
    <br>
    <div>
        Input: <input type="text"   placeholder="Input" ng-model="selectedModel.input" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Output: <input type="text"   placeholder="Output" ng-model="selectedModel.output" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Balance: <input type="text"   placeholder="Balance" ng-model="selectedModel.balance" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    <br>
    <div>
        In value: <input type="text"   placeholder="In value" ng-model="selectedModel.inValue" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Out value: <input type="text"   placeholder="Out value" ng-model="selectedModel.outValue" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Total value: <input type="text"   placeholder="Total value" ng-model="selectedModel.totalValue" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button type="submit" class="btn btn-danger" ng-click="rollBack()">RollBack</button>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>