<md-toolbar layout="row" layout-align="space-between center" class="my-toolbar" >
    <!--The left side-->
    <span>
        <md-button disabled="true" ng-click="searchState()">
            <img class="png-icon" src="app/img/toolbar/searchDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="refresh()">
            <img class="png-icon" src="app/img/toolbar/refreshDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/back.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        <!--<md-button>-->
            <!--<img class="png-icon" src="app/img/toolbar/help.png" style="width: 24px; height: 24px;">-->
        <!--</md-button>-->
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button disabled="true" ng-click="firstRow()">
            <img class="png-icon" src="app/img/toolbar/firstRowDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="previousRow()">
            <img class="png-icon" src="app/img/toolbar/previousDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="nextRow()">
            <img class="png-icon" src="app/img/toolbar/nextDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="lastRow()">
            <img class="png-icon" src="app/img/toolbar/lastRowDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        &nbsp;
        &nbsp;
        &nbsp;
        &nbsp;
        <md-button disabled="true" ng-click="addState()">
            <img class="png-icon" src="app/img/toolbar/addDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="editState()">
            <img class="png-icon" src="app/img/toolbar/editDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="deleteSelectedItem()">
            <img class="png-icon" src="app/img/toolbar/trashDisable.png" style="width: 24px; height: 24px;">
        </md-button>
        <md-button disabled="true" ng-click="nextState()">
            <img class="png-icon" src="app/img/toolbar/nextFormDisable.png" style="width: 24px; height: 24px;">
        </md-button>


    </span>
    <span ng-show="false">
        <label layout-margin="10px">
            State : {{state}}
        </label>
    </span>

</md-toolbar>

<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Duznik</th>
                        <th>Svrha placanja</th>
                        <th>Primalac</th>
                        <th>Datum naloga</th>
                        <th>Datum valute</th>
                        <th>Racun duznika</th>
                        <th>Model zaduzenja</th>
                        <th>Poziv na br</th>
                        <th>Racun primaoca</th>
                        <th>Model odobrenja</th>
                        <th>Poziv na br</th>
                        <th>Iznos</th>
                        <th>Valuta</th>
                        <th>Hitno</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model">
                        <!--&lt;!&ndash;<td>{{item.id}}</td>&ndash;&gt;-->
                        <!--<td>{{item.type}}</td>-->
                        <!--<td>{{item.direction}}</td>-->
                        <!--<td>{{item.quantity}}</td>-->
                        <!--<td>{{item.balance}}</td>-->
                        <!--<td>{{item.price}}</td>-->
                        <!--<td>{{item.value}}</td>-->
                        <!--<td>{{item.totalValue}}</td>-->
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>

</div>

<div class="my-form" >
    <div>
        Duznik: <input type="text"   placeholder="Duznik" ng-model="selectedModel.nazivDobavljaca" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Svrha placanja: <input type="text"   placeholder="Svrha placanja" ng-model="selectedModel.svrhaPlacanja" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Primalac: <input type="text"   placeholder="Primalac" ng-model="selectedModel.nazivKupca" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <div>
        Datum naloga: <input type="date"   placeholder="Datum naloga" ng-model="selectedModel.datumRacuna" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Datum valute: <input type="date"   placeholder="Datum valute" ng-model="selectedModel.datumValute" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    <br>
    <div>
        Racun duznika:
        <select id="racuni" name="racuni" ng-model="selectedModel.racunDuznika"
                ng-options="obj.brojRacuna for obj in modelFirma.racun">
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Model zaduzenja: <input type="text"   placeholder="Model zaduzenja" ng-model="selectedModel.modelZaduzenja" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Poziv na broj zaduzenja: <input type="number"   placeholder="Poziv na broj zaduzenja" ng-model="selectedModel.pozivZaduzenja" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

    </div>
    <br>
    <div>
        Racun poverioca: <input type="text"   placeholder="Racun poverioca" ng-model="selectedModel.uplataNaRacun" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Model odobrenja: <input type="text"   placeholder="Model odobrenja" ng-model="selectedModel.modelOdobrenja" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Poziv na broj odobrenja: <input type="number"   placeholder="Poziv na broj odobrenja" ng-model="selectedModel.pozivOdobrenja" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <br>
    <div>
        Valuta: <input type="text"   placeholder="Valuta" ng-model="selectedModel.oznakaValute" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Iznos: <input type="number"   placeholder="Iznos" ng-model="selectedModel.iznosZaUplatu" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        Hitno: <input type="checkbox" ng-model="hitno" required />

    </div>
    <br>

    <div>
        <button type="submit" class="btn btn-primary" ng-click="submit()">Submit</button>
        <button type="submit" class="btn btn-danger" ng-click="rollBack()">RollBack</button>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>