<div >
    <div >
        <div >

            <div class="my-form" >
                <div>
                    Broj racuna: <input disabled type="text"   placeholder="Naziv" ng-model="model.zaglavlje.brojRacuna" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Datum naloga: <input disabled type="text"   placeholder="Pib" ng-model="model.zaglavlje.datumNaloga" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </div>
                <br>
                <div>
                    Broj preseka: <input disabled type="text"   placeholder="Adresa" ng-model="model.zaglavlje.brojPreseka" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    Prethodno stanje: <input disabled type="text"   placeholder="Maticni broj" ng-model="model.zaglavlje.prethodnoStanje" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                </div>
                <br>
                <div>

                    Promena u korist: <input disabled type="text"   placeholder="Ovlasceno lice" ng-model="model.zaglavlje.brojPromenaUKorist" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                 </div>
                <br>
                <div>
                    Ukupno u korist: <input disabled type="text"   placeholder="Putanja servera" ng-model="model.zaglavlje.ukupnoUKorist" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

                </div>
                <br>
                <div>
                    Promena na teret: <input disabled type="text"   placeholder="Maticni broj" ng-model="model.zaglavlje.brojPromenaNaTeret" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    </div>
                <br>
                <div>
                    Ukuono na teret: <input disabled type="text"   placeholder="Ovlasceno lice" ng-model="model.zaglavlje.ukupnoNaTeret" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                </div>
                <br>
                <div>
                    Novo stanje: <input disabled type="text"   placeholder="Putanja servera" ng-model="model.zaglavlje.novoStanje" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

                </div>
            </div>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Duznik</th>
                        <th>Svrha</th>
                        <th>Primala</th>
                        <th>Racun duznika</th>
                        <th>Model zaduzenja</th>
                        <th>Poziv zaduzenja</th>
                        <th>Racun poverioca</th>
                        <th>Model odobrenja</th>
                        <th>Poziv odobrenja</th>
                        <th>Iznos</th>
                        <th>Smer</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model.stavka"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <td>{{item.duznik}}</td>
                        <td>{{item.svrhaPlacanja}}</td>
                        <td>{{item.primalac}}</td>
                        <td>{{item.racunDuznika}}</td>
                        <td>{{item.modelZaduzenja}}</td>
                        <td>{{item.pozivNaBrojZaduzenja}}</td>
                        <td>{{item.racunPoverioca}}</td>
                        <td>{{item.modelOdobrenja}}</td>
                        <td>{{item.pozivNaBrojOdobrenja}}</td>
                        <td>{{item.iznos}}</td>
                        <td>{{item.smer}}</td>

                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
            <!--<button  class="my-button" ng-click="ok()">Ok</button>-->
        </div>
    </div>

</div>

<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>