<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <!--<th>{{'MODAL_SUB_GROUPS_ID' | translate}}</th>-->
                        <!--<th>{{'MODAL_SUB_GROUPS_GROUP_ID' | translate}}</th>-->
                        <th>{{'MODAL_SUB_GROUPS_NAME' | translate}}</th>
                        <th>{{'MODAL_SUB_GROUPS_GROUP_FIRM_NAME' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in model"
                        ng-click="rowHighilited( $index)"
                        ng-class="$index==selectedRow?'selected':''">
                        <!--<td>{{item.id}}</td>-->
                        <!--<td>{{item.groupId}}</td>-->
                        <td>{{item.name}}</td>
                        <td>{{item.groupFirmName}}</td>
                    </tr>
                </tbody>
                <tfoot data-ng-if="model.length == 0">
                    <tr>
                        <td colspan="100%" class="small text-muted text-center">{{'DATA_SET_EMPTY_NO_DATA' | translate}}</td>
                    </tr>
                </tfoot>
            </table>
            <button  class="my-button" ng-click="ok()">Ok</button>
        </div>
    </div>

</div>
<div class="row" ng-show="errorCode">
    <div class="col-lg-12">
        <div class="alert alert-danger alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="{{'ALERT_CLOSE' | translate}}">
                <span aria-hidden="true">&times;</span>
            </button>
            {{errorCode}}
        </div>
    </div>
</div>