
<div class="navigation navigation-responsive" ng-class="menuCollapse">
    <div class="navigation-toggle">
        <img class="navigation-logo" ng-src="{{!isCollapsed ? 'app/img/logo/firm64.png' : 'app/img/logo/firm256.png'}}">
        <img ng-click="collapseMenu()" class="collapse-menu" ng-src="{{!isCollapsed ? 'app/img/logo/left.png' : 'app/img/logo/right.png'}}">
    </div>

    <ul id="side-menu" role="navigation">

        <li ng-repeat="navItem in navItems">
            <a ng-click="navigationMenuSwitch(navItem)">
                <img ng-src="{{activeMenuItem === navItem.type ? navItem.imgSrcActive : navItem.imgSrc}}">
                <p ng-class="{'active-menu-item': activeMenuItem === navItem.type}">{{navItem.name}}</p>
            </a>
        </li>

        <li>
            <a ng-click="logOut()">
                <img src="app/img/nav/logout.png">
                <p>Log Out</p>
            </a>
        </li>
    </ul>
</div>