<div class="row">
    <div class="col-lg-12">
        <h3 align="center">About firm</h3>

        <div class="my-form" >
            <div>
                Naziv: <input disabled type="text"   placeholder="Naziv" ng-model="model.naziv" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Pib: <input disabled type="text"   placeholder="Pib" ng-model="model.pib" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Adresa: <input disabled type="text"   placeholder="Adresa" ng-model="model.adresa" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
            </div>
            <br>
            <div>
                Maticni broj: <input disabled type="text"   placeholder="Maticni broj" ng-model="model.maticniBroj" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Ovlasceno lice: <input disabled type="text"   placeholder="Ovlasceno lice" ng-model="model.ovlascenoLice" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Putanja servera: <input disabled type="text"   placeholder="Putanja servera" ng-model="model.putanjaServera" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
            </div>
            <br>
            <div>
                Mail: <input type="text" disabled  placeholder="Mail" ng-model="model.mail" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                Telefon: <input type="text" disabled  placeholder="Telefon" ng-model="model.telefon" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </div>
            <div>

                Izvod za racun:
                <select id="racuni" name="racuni" ng-model="selectedModel.racunDuznika"
                        ng-options="obj.brojRacuna for obj in model.racun">
                </select>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span >Datum:</span> <input type="date"   placeholder="Datum" ng-model="selectedModel.datum" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span >Broj preseka:</span> <input type="number"   placeholder="Broj preseka" ng-model="selectedModel.brojPreseka" ng-model-options="{ updateOn: 'default blur', debounce: {'default': 500, 'blur': 0 } }" maxlength="255" required />

                <button type="submit" class="btn btn-primary" ng-click="submit()">Trazi izvod</button>
            </div>
        </div>

    </div>
</div>
