<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{reset.password.title}">Somebody requested a new password for your account</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p th:text="#{reset.password.greeting(${email})}">
            Hello email@test.com!
        </p>
        <p th:text="#{reset.password.code.text(${resetPasswordCode})}">
            Someone has requested a link to recover your password, and you can do this through the link below with the following reset password code: '{0}'
        </p>
        <p th:text="#{reset.password.link.text}">
            Please request a password change over this link:
        </p>
        <p>
            <a th:href="@{|${clientUrl}/reset-password/${resetPasswordCode}|}" th:text="#{reset.password}">Reset password</a>
        </p>
        <p th:text="reset.password.footer.text">
            If you didn't request this, please ignore this email. Your password won't change until you access the link above and create a new password.
        </p>
    </body>
</html>